:root {
    --color1: #00945d;
    --color2: #58c09a;
    --color3: #ffdd00;
    --color4: #e7ebef;
    --color5: #20201e;
}


/*
@font-face{
  @include font_file( "moonlight", bold, normal, "../fonts/Moonlights-on-the-Beach.ttf", normal );
}
@font-face{
  @include font_file( "avenir", bold, normal, "../fonts/Avenir_Book.ttf", normal );
}
@font-face{
  @include font_file( "avenir", 400, normal, "../fonts/Avenir_Medium.ttf", normal );
}
@font-face{
  @include font_file( "avenir", 800, normal, "../fonts/Avenir-Black.ttf", normal );
}
@font-face{
  @include font_file( "avenir", 100, normal, "../fonts/Avenir-Light.ttf", normal );
}
*/

@font-face {
    font-family: "helveticaCn";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/HelveticaNeueLTStdBdCn.otf");
    font-variant: normal;
}

@font-face {
    font-family: "barlow";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/Barlow_Bold.ttf");
    font-variant: normal;
}

@font-face {
    font-family: "titilium";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/Titillium-Semibold.otf");
    font-variant: normal;
}

@font-face {
    font-family: "titilium-bold";
    src: url("../fonts/Titillium-Bold.otf");
}


/*Estilos de reseteo*/

*,
 :before,
 ::before,
 :after,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: titilium;
    font-size: 18px;
}

body {
    height: 100vh;
    min-height: 600px;
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    font-size: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

a,
p,
em,
code,
pre {
    font-family: titilium;
    font-size: 18px;
}

small {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 12px;
    margin-top: 12px;
}

button,
input[type="button"],
input[type="radio"],
input[type="checkbox"],
select,
label {
    cursor: pointer;
}

button {
    background-color: unset;
    border: none;
    outline: none;
}

input[type="text"],
input[type="number"],
textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

*[disabled] {
    cursor: default;
    color: #999;
    background-color: #ddd;
}

textarea {
    resize: none;
}

code,
pre {
    font-family: monospace;
}

abbr,
i,
em {
    font-style: italic;
}

abbr {
    text-decoration: none;
}

b,
strong {
    font-weight: bold;
}

hr {
    display: block;
    border: thin solid #000;
    margin: 16px auto;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

mark {
    background-color: yellow;
}

p {
    font-family: titilium;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}

@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    header {
        padding: 1rem 0;
    }
}

header .row {
    display: flex;
    align-items: center;
    position: relative;
}

main {
    background-color: var(--color1);
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    position: relative;
    z-index: 1;
}

.bg_desk {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
}

@media screen and (max-width: 800px) {
    .bg_desk {
        display: none;
    }
}

.bg_movil {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media screen and (min-width: 800px) {
    .bg_movil {
        display: none;
    }
}

.container {
    margin: 0 auto;
    width: 95%;
}

@media screen and (min-width: 1025px) {
    .container {
        max-width: 1440px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
    .container {
        max-width: 980px;
    }
}

footer#footer {
    background-color: var(--color4);
    padding: 2rem 0;
}

footer#footer .container>.row {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    footer#footer .container>.row {
        flex-direction: column;
    }
}

footer#footer .container>.row>div {
    width: 50%;
}

@media screen and (max-width: 600px) {
    footer#footer .container>.row>div {
        width: 100%;
    }
}

.main_menu {
    --left_menu: -100%;
}

@media screen and (max-width: 800px) {
    .main_menu {
        background-color: white;
        padding-bottom: 1.5rem;
        position: absolute;
        top: calc( 100% + 1rem);
        left: calc( var(--left_menu));
        width: 85%;
        transition: left .8s ease-in-out;
        box-shadow: 2px 5px 32px rgba(0, 0, 0, 0.5);
        z-index: 3;
    }
}

.main_menu.open {
    left: -1rem;
}

.main_menu ul {
    display: flex;
}

@media screen and (max-width: 800px) {
    .main_menu ul {
        flex-direction: column;
    }
}

.main_menu ul :is(a,
span) {
    color: black;
    display: block;
    font-family: "helveticaCn";
    font-size: 16px;
    padding: 2rem 1rem;
}

@media screen and (max-width: 800px) {
    .main_menu ul :is(a,
    span) {
        padding: .8rem .5rem;
    }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
    .main_menu ul :is(a,
    span) {
        padding: 2rem .5rem;
    }
}

.main_menu ul li {
    position: relative;
    transition: background-color .6s ease-in-out;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .main_menu ul li {
        text-align: center;
    }
}

.main_menu ul li:after {
    content: "";
    height: 60%;
    width: 2px;
    background-color: var(--color5);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 800px) {
    .main_menu ul li:after {
        right: unset;
        top: unset;
        bottom: 0;
        transform: translateX(-50%);
        height: 2px;
        width: 60%;
    }
}

.main_menu ul li:last-child:after {
    display: none;
}

.main_menu ul li.active,
.main_menu ul li:hover.active {
    background-color: var(--color3);
}

.main_menu ul li:hover {
    background-color: var(--color2);
}

.boton_hamburguesa {
    position: absolute;
    right: 0;
    top: calc(100% + 1rem);
    z-index: 5;
    /*
  .cierre{
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    gap: 10px 0;
    justify-content: center;
    transform-origin: center;

    span{
      background-color: white;
      border-radius: 15px;
      display: block;
      height: 7px;
      width: 80px;
    }
  }

  .active{
    visibility: visible;
    opacity: 1;
    display: flex;
  }*/
}

.boton_hamburguesa .apertura {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    padding: 1.5rem 1.8rem;
    /*
    visibility: hidden;
    opacity: 0;*/
}

.boton_hamburguesa .apertura span {
    background-color: white;
    border-radius: 15px;
    height: 7px;
    width: 55px;
}

@media screen and (min-width: 800px) {
    .boton_hamburguesa {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .logo_global_money_week {
        display: flex;
        justify-content: start;
        width: 40%;
    }
}

.logo_global_money_week img {
    margin: 0 auto;
    width: 45%;
}

@media screen and (max-width: 800px) {
    .logo_global_money_week img {
        margin: unset;
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .logo_mide {
        display: flex;
        justify-content: end;
        width: 60%;
    }
}

.logo_mide img {
    margin: 0 auto;
    width: 45%;
}

@media screen and (max-width: 800px) {
    .logo_mide img {
        margin: unset;
        width: 60%;
    }
}

.aprende_ahorra_gana span {
    color: var(--color1);
}

.aprende_ahorra_gana p {
    color: var(--color5);
    font-family: "barlow";
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    .aprende_ahorra_gana p {
        text-align: center;
    }
}

.redes_sociales {
    margin: 2rem 0;
}

.redes_sociales .row {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0 20px;
}

@media screen and (min-width: 801px) {
    .redes_sociales .row {
        width: 65%;
    }
}

.redes_sociales .row li {
    transition: transform .2s ease-in-out;
}

@media screen and (min-width: 801px) {
    .redes_sociales .row li {
        width: 40px;
    }
}

.redes_sociales .row li img {
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

.redes_sociales .row li:hover {
    transform: scale(1.1);
}

.bloomberg .content {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    .bloomberg .content {
        justify-content: center;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .bloomberg .content p {
        font-size: 11px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 801px) {
    .bloomberg .content img {
        width: 130px;
    }
}

@media screen and (max-width: 800px) {
    .bloomberg .content img {
        width: 90px;
    }
}

@media screen and (min-width: 801px) {
    .page_home main {
        min-height: 700px;
    }
}

@media screen and (max-width: 800px) {
    .page_home main {
        height: 1300px;
    }
}

.page_home .welcome_descripcion {
    display: flex;
    width: 95%;
}

@media screen and (min-width: 801px) {
    .page_home .welcome_descripcion {
        height: 600px;
    }
}

@media screen and (max-width: 800px) {
    .page_home .welcome_descripcion {
        flex-direction: column;
        padding-top: 3rem;
        width: 100%;
    }
}

.page_home .welcome_descripcion .span1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 1.5rem;
    padding-right: 1rem;
}

@media screen and (max-width: 800px) {
    .page_home .welcome_descripcion .span1 {
        flex-direction: row;
        align-items: start;
    }
}

.page_home .welcome_descripcion .span1 h1 {
    color: var(--color3);
    font-family: "titilium-bold";
    font-size: 50px;
    text-align: right;
}

@media screen and (max-width: 800px) {
    .page_home .welcome_descripcion .span1 h1 {
        padding-right: 1rem;
        width: 50%;
    }
}

@media (max-width: 620px) {
    .page_home .welcome_descripcion .span1 h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 800px) {
    .page_home .welcome_descripcion .span1 div {
        padding-left: 1rem;
        position: relative;
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .page_home .welcome_descripcion .span1 div:after {
        content: "";
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 2px;
        background-color: white;
    }
}

.page_home .welcome_descripcion .span1 img {
    width: 70%;
    float: right;
}

.page_home .welcome_descripcion .span2 {
    position: relative;
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    width: 100%;
}

@media screen and (min-width: 801px) {
    .page_home .welcome_descripcion .span2:before {
        content: "";
        width: 1px;
        height: 70%;
        background-color: white;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.home_txt_fecha h2 {
    font-family: "titilium-bold";
    font-size: 2.7rem;
}

.home_txt_fecha span {
    color: var(--color4);
}

.page_home .welcome_descripcion .span2 .fcolor1 {
    color: var(--color3);
}

.page_home .welcome_descripcion .span2 div h2,
.page_home .welcome_descripcion .span2 div h3 {
    color: var(--color3);
}

.page_home .welcome_descripcion .span2 p:not(class) {
    color: white;
}

@media screen and (max-width: 800px) {
    .page_presentacion main {
        height: 1100px;
    }
}

.page_presentacion main h1 {
    color: var(--color3);
    font-size: 33px;
}

.page_presentacion main p {
    color: white;
}


/*Seccion cartelera*/

@media screen and (min-width: 801px) {
    .row_contenido .span2:before {
        content: "";
        width: 1px;
        height: 25%;
        background-color: white;
        position: absolute;
        top: 4rem;
        transform: translateX(-1rem);
    }
}

@media screen and (max-width: 800px) {
    .page_cartelera main {
        height: 1100px;
    }
}

.page_cartelera main .row {
    display: flex;
    margin-top: 1rem;
}

.page_cartelera main .row h1 {
    color: var(--color3);
    font-family: "titilium-bold";
    font-size: 45px;
}

@media (min-width: 800px) {
    .page_cartelera main .row h1 {
        font-size: 45px;
    }
}

.row_contenido {
    width: 90%;
    display: block;
    margin: auto;
    margin-left: 5%;
    text-align: justify;
}

@media (min-width: 800PX) {
    .row_contenido {
        width: 40%;
        display: block ruby;
        margin-left: 12%;
    }
}

.row_contenido .span1 {
    text-align: center;
}

@media (min-width: 800px) {
    .row_contenido .span1 {
        line-height: 50px;
    }
}

.row_contenido .span2 {
    color: var(--color4);
    margin-left: 0%;
}

@media (min-width: 800px) {
    .row_contenido .span2 {
        margin-left: 8%;
    }
}

.btn_proximamente--cartelera {
    margin-top: 1rem;
    margin-left: 5%;
}

@media (min-width: 800px) {
    .btn_proximamente--cartelera {
        margin-top: 7rem;
        margin-left: 12%;
    }
}

.txt_descripcion--cartelera {
    color: var(--color4);
    margin-left: 5%;
    margin-top: 3rem;
}

@media (min-width: 800px) {
    .txt_descripcion--cartelera {
        margin-left: 12%;
    }
}

.txt_descripcion--cartelera span {
    color: var(--color3);
}


/*Seccion Recursos*/

.page_recursos h1 {
    color: var(--color3);
}

@media screen and (max-width: 800px) {
    .page_contacto main {
        height: 1200px;
    }
}

.page_contacto main h1 {
    color: var(--color3);
}

.page_contacto main p {
    color: white;
}

.page_contacto main p span {
    color: var(--color3);
}

.page_contacto main h1+p {
    margin-bottom: 2.5rem;
}

@media screen and (min-width: 801px) {
    .page_contacto main .content {
        padding-left: 4rem;
        width: 45%;
    }
}

@media screen and (max-width: 800px) {
    .page_contacto main .content {
        width: 70%;
    }
}


/*# sourceMappingURL=estilos.css.map */


/*Seccion presentacion*/

.txt_presentacion {
    width: 90%;
    text-align: justify;
    margin-left: 1rem;
}

@media (min-width: 800px) {
    .txt_presentacion {
        width: 50%;
        text-align: justify;
        margin-left: 5rem;
    }
}